.login_div2,.login_div1{
    background-color: white;
    padding: 10px;
    float:none;
    border-radius: 20px;
}
body{
    background-color: rgba(182, 7, 7, 0.775);
}
h1{
    color: white;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}